html {
  background: black !important;
}
.vector-header-container, .vector-feature-zebra-design-disabled, body {
  background-color: #ebebeb !important;
}
.mw-page-container, .bandeau-niveau-modere, .cdx-menu-item--highlighted {
  background-color: #d7d7d7 !important;
}
html {
  mix-blend-mode: difference !important;
}
img, .mw-logo-container, .mwe-math-element { 
  filter: invert(1); 
}
a {
  color: #a04417 !important;
}
a.external {
  filter: hue-rotate(180deg);
}
.vector-menu-heading {
  filter: grayscale(1);
}
button {
  color: inherit !important;
}